body {
    color: rgb(122, 11, 196);
    background: rgb(58, 1, 79);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
  }


header {
    border-bottom: solid 2px rgb(109, 10, 231);
    padding: 20px;
    font-size: 32px;
    color:rgb(168, 9, 200);
}

section {
    background: rgb(210, 141, 244);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 30px;
}
h1 {
    font-size: 40px;
  }
  
  p {
    font-size: 10px;
  }
  